body{
	background-color: white;
	width: 960px;
	margin: 0 auto;
}

.class-header{
	width: 100%;
	height: 110px;
	margin-top: 10px;
}


.class-header img{
	width: 80px;
	height: 80px;
}


.class-header .leftpart{
	float: left;
	width: 20%;
}

.class-header .rightpart{
	width: 60%;
	margin-top: 20px;
	float: left;
}

.class-header .avatar{
	width: 20%;
	float: right;
	margin-top:20px;
}

.class-header .avatar button{
	padding: 5px;
	border: 2px solid;
	margin: 10px 5px;
}

.class-header .rightpart .form-wrapper #search{
	padding: 5px;
	border: 2px solid;
	margin: 10px 5px;
}

.class-header .rightpart .form-wrapper #submit{
	padding: 5px;
	border: 2px solid;
	margin: 10px 5px;
	width: 80px;
}



.class-header .rightpart a{
	margin-left: 100px;
	text-decoration: none;
}

.class-main{
	margin-left: 50px;
	margin-right: 50px;
}

.class-main .content {
	float: left;
	width: 85%;
	margin-top: 20px;
}

.class-main .category{
	float: left;
	width: 15%;
}

.detail-post-title{
	font-size: 1.8em;
	font-weight: bold;
}
